/* Generic */

body {
    background-color: var(--background);
    margin: 0;
    overflow: hidden;
}

/* Views */

div.view.container {
    width: fit-content;
    height: fit-content;
    display: none;
    left: 0px;
    right: 0px;
    filter: drop-shadow(0 0 10px #121212);
}

div.view {
    color: white;
    font-family: var(--code);
    background-color: var(--window-border-color);
    resize: none;
    overflow: hidden;
    border: solid var(--window-border-color);
    border-width: 10px;
    border-radius: 16px;
}

div.view.header {
    background-color: var(--window-border-color);
    border: none;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    padding: 0;
    cursor: grab;
    margin-bottom: 8px;
}

div.view.header:active {
    cursor: grabbing;
}

div.view.content {
    background-color: blue; /* For testing puroposes */
    border: none;
    resize: both;
    min-width: 340px;
    min-height: 150px;
    width: 500px;
    height: 500px;
}

p.view.button-container {
    border: none;
    border-radius: 0;
    text-align: right;
    margin: 0;
    padding: 0;
    display: flex;
}

button.view.buttons {
    border-radius: 50%;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 1px;
    margin-bottom: 2px;
    justify-self: right;
    align-self: top;
    cursor: pointer;
}

button.view.buttons:focus {
    outline: none;
}

button.view.buttons:hover {
    filter: contrast(5000%)
}

button.view.buttons.close {
    border: solid var(--accentRed);
    border-width: 10px;
}

button.view.buttons.minimize {
    border: solid var(--accentOrange);
    border-width: 10px;
}

/* Desktop */

main {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

/* Taskbar */

footer {
    background-color: var(--taskbar-color);
    position: absolute;
    z-index: 100000;
    height: 8vh;
    width: 90vw;
    bottom: 16px;
    margin-left: 5vw;
    border: hidden;
    border-radius: 16px;
    display: flex;
    backdrop-filter: blur(10px);
    filter: drop-shadow(0 0 10px #121212);
    justify-content: space-between;
    padding: 8px;
}

button.taskbar.button {
    height: 6vh;
    width: 6vh;
    border: hidden;
    border-radius: 10px;
    background-color: var(--accentRed);
    outline: none;
    transition: 0.5s;
    align-self: center;
}

button.taskbar.button:hover {
    transform: scale(1.1);
}

button.taskbar:focus {
    border: hidden;
}

button.taskbar:active {
    background-color: var(--accentWhite);
}