@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {

    /* Fonts */
    --font: 'Roboto';
    --code: 'Roboto Mono';
    --serif: 'Roboto Slab';
    --condensed: 'Roboto Condensed';

    /* Colors */
    --accentDark: #003049;
    --accentRed: #D62828;
    --accentOrange: #F77F00;
    --accentYellow: #FCBF49;
    --accentWhite: #EAE2B7;

    /* System Colors */
    --background: #181A1B;
    --window-border-color: var(--accentDark);
    --taskbar-color: #003049cc;
    --header-color: #003049cc;
}

body {
    margin: 0;
}