div#taskbar {
    background-color: var(--accentDark);
    position: absolute;
    height: 8vh;
    width: 90vw;
    margin-top: 90vh;
    margin-left: 5vw;
    border: hidden;
    border-radius: 16px;
    display: flex;
}

div.taskbar.spacer {
    position: absolute;
    height: 6vh;
    width: 1px;
    background-color: var(--accentWhite);
    margin-left: 45vw;
    margin-right: 16px;
    margin-top: 1vh;
}

div.taskbar.button.collection {
    display: flex;
    width: 45vw;
}

button.taskbar.button {
    height: 6vh;
    width: 6vh;
    margin-top: 1vh;
    margin-left: 1vh;
    border: hidden;
    border-radius: 10px;
    background-color: var(--accentRed);
    outline: none;
    transition: 0.5s;
}

button.taskbar.button:hover {
    height: 6.5vh;
    width: 6.5vh;
    margin-top: 0.75vh;
    margin-left: 0.75vh;
    margin-right: 0.75vh;
}

button.taskbar:focus {
    border: hidden;
}

button.taskbar:active {
    background-color: var(--accentWhite);
}

div.taskbar.control {
    font-family: var(--code);
    color: white;
    font-size: 20px;
}

div.taskbar.control {
    margin-left: 16px;
    margin-top: 0px;
}

p.taskbar.control.timeDisplay {
    margin: 0;
}